/* esto es solo de la images principal  */

.logo{
	margin-top: 60px;
	align-items: center;
	border-radius: 0%;
}

.banner0 img{
	width: 100%;
	z-index: 100;
	border-radius: 0%;
}

.banner2 img{
	width: 100%;
	z-index: 100;

	border-radius: 0%;
}
